* {
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background-color: #E02020;
    background-repeat: repeat;
    background-size: 472px 472px;
    background-image: url("../graphics/pattern.svg");
}

body {
    /* background-color: #E02020; */
    color: white;
    font-size: 1.4rem;
}

header {
    margin-left: 25%;
    font-size: 2rem;
    width: -webkit-fill-available;
    height: fit-content;
    top: -1%;
    text-decoration: overline underline;
    text-align: -webkit-center;
}

.row li {
    width: 50%;
    height: 100%;
}

.row li a {
    padding: 32px;
}

ul.navbar li {
    float: left;
}

a {
    text-decoration: none;
    display: block;
    width: fit-content;
    height: 100%;
}

div.spacer {
    height: 100px;
}

/* Rows */

.row {
    width: 25%;
    display: inline-flex;
    text-transform: uppercase;
    float: left;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    max-height: 100%;
    position: fixed;
    margin-top: 6.25%;
    min-width: 250px;
}

.row li {
    margin-bottom: 25px;
    height: 75px;
}

.row1 {
    width: 25%;
    text-align: -webkit-center;
    display: block;
}

.row1 li {
    height: 75px;
    width: auto;
}

.row1 h2 {
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row2 {
    display: block;
    width: 75%;
}

.row2 img {
    float: left;
    margin: 0 12.5px;
    width: 50px;
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row2 ul {
    width: 100%;
}

.row2 h2 {
    position: relative;
    float: left;
    max-width: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.row2 li {
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
    min-width: 210px;
}

#asideSelected {
    background-color: rgba(255, 72, 72, 75%);
    width: 100%;
    min-width: 210px;
}

.asideIndicator {
    position: relative;
    background-color: #FF4848;
    float: left;
    width: 4%;
    height: 100%;
}

#indicateSelected {
    position: relative;
    background-color: #fff;
    float: left;
    width: 4%;
    height: 100%;
}

/* Background Graphics & Dots */

.dot {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    z-index: -10;
}

#dot_1 {
    height: 250px;
    width: 250px;
    left: 360px;
    top: -160px;
}

#dot_2 {
    height: 600px;
    width: 600px;
    left: -150px;
    bottom: -400px;
}

#dot_3 {
    height: 300px;
    width: 300px;
    right: -165px;
    top: 200px;
}

#wheelBg {
    grid-area: center;
    background-color: #00000080;
    width: 40rem;
    height: 40rem;
    align-self: center;
    top: -1rem;
    border-radius: 50%;
    z-index: -10;
}

/* Watermark */

#watermark {
    z-index: 10;
    font-size: 1.2rem;
    color: #fff;
    position: fixed;
    display: block;
    right: 0;
    bottom: 50px;
    width: 275px;
    height: 70px;
    background-color: rgba(0, 0, 0, 50%);
}

#watermark a {
    position: relative;
    color: fff;
}

#watermark p {
    position: relative;
    padding-left: 5%;
}

#helpButton {
    position: fixed;
    z-index: 10;
    top: 5%;
    right: 5%;
    width: 75px;
    height: 75px;
}

/* Sign Container */

.signContainer {
    height: 40.25rem;
    width: 40.25rem;
    display: grid;
    grid-template-areas:
        ". pig rat ox ."
        "dog . . . tiger"
        "rooster . center . rabbit"
        "monkey . . . dragon"
        ". goat horse snake .";
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    position: relative;
    margin-left: 39%;
}

.sign {
    display: block;
    width: 6.25rem;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

button {
    height: fit-content;
    width: fit-content;
}

button.sign img {
    display: block;
    z-index: 10;
    position: absolute;
}

#rat {
    grid-area: rat;
}

#ox {
    grid-area: ox;
    top: 2.3625rem;
}

#tiger {
    grid-area: tiger;
    right: 2.3625rem;
}

#rabbit {
    grid-area: rabbit;
}

#dragon {
    grid-area: dragon;
    right: 2.3625rem;
}

#snake {
    grid-area: snake;
    bottom: 2.3625rem;
}

#horse {
    grid-area: horse;
}

#goat {
    grid-area: goat;
    bottom: 2.3625rem;
}

#monkey {
    grid-area: monkey;
    left: 2.3625rem;
}

#rooster {
    grid-area: rooster;
}

#dog {
    grid-area: dog;
    left: 2.3625rem;
}

#pig {
    grid-area: pig;
    top: 2.3625rem;
}

/* Inputs */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

#bdayInput {
    grid-area: center;
    background-color: #ffffff80;
    position: relative;
    align-self: center;
    width: 14rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
}

#submit {
    grid-area: center;
    background-color: #ffffff80;
    position: relative;
    align-self: center;
    width: 100%;
    padding: .5rem;
    top: 45%;
    border-radius: .5rem;
}

input[type="submit"] {
    cursor: pointer;
}

#inputLabel {
    grid-area: center;
    width: max-content;
}

/*Welcome Page*/

#welcomeBackground {
    position: fixed;
    z-index: 14;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%)
}

#welcomeMenu {
    position: fixed;
    margin: auto;
    z-index: 20;
    top: 15vh;
    left: 20vw;
    width: 60vw;
    height: 62vh;
    background-color: white;
    color: darkred;
    border-radius: 2rem;
}

#welcome h1,
#welcome h2 {
    margin: 1.5rem 3rem;
    text-align: center;
}

#welcome h4 {
    margin: 0 3rem 2rem;
    font-size: 1rem;
}

#welcomeColumn {
    position: relative;
    width: 100%;
}

.welcomeColumn_1,
.welcomeColumn_2,
.welcomeColumn_3 {
    text-align: center;
    margin: auto;
    height: 56%;
}

.welcomeColumn_1,
.welcomeColumn_3 {
    position: relative;
    width: 45%;
    float: left;
    padding: 1rem;
}

.welcomeColumn_2 {
    position: relative;
    width: 10%;
    float: left;
    padding: 1rem;
}

.welcomeColumn_1,
.welcomeColumn_3 {
    font-size: 1rem;
}

.welcomeColumn_1 img {
    width: 150px;
    transform: translateY(200%);
}

.welcomeColumn_3 img {
    width: 100px;
    transform: translateY(50%);
}

#closeWelcomeWrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

#closeWelcome {
    width: 8rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: crimson;
    color: white;
}
