* {
    font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

:root {
    --light-red: #C13340;
    --medium-red: #A92D38;
    --dark-red: #70272b;

    --opacity: rgba(0, 0, 0, 0.5);
}

html {
    background-color: var(--light-red);
    color: white;
}

header h1 {
    font-family: tbcgothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    padding: 0 5%;
}

form {
    margin-bottom: 3rem;
}

form input {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    margin: 0 .5rem;
    text-align: center;
    background-color: var(--medium-red);
    color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

#bdayinput {
    width: 10.5rem;
    text-transform: uppercase;
    padding-left: .5rem;
}

form h2 {
    display: inline-block;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: var(--medium-red);
}

/* Header */

header {
    height: 8rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

header h1 {
    padding-left: 5rem;
}

.line {
    width: 60%;
    height: .2rem;
    background-color: white;
    margin: auto;
}

form {
    width: 100%;
    text-align: center;
}

#signButtons {
    width: 100%;
    height: 25rem;
    margin: auto;
    display: grid;
    grid-template-areas:
        "rat . tiger . dragon . horse . monkey . dog ."
        ". ox . rabbit . snake . goat . rooster . pig";
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(2, 25%);
}

#signButtons button {
    width: 100%;
    padding: auto 1rem;
    background-color: var(--medium-red);
    border: .1rem solid var(--medium-red);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

#signButtons button svg {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    fill: white;
}

#signTitles {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-areas:
    "rat_list ox_list tiger_list rabbit_list dragon_list snake_list horse_list goat_list monkey_list rooster_list dog_list pig_list";
    transform: translateY(-7rem);
}

#signTitles button {
    color: white;
    background: none;
    height: 3rem;
}

#signTitles button div {
    position: relative;
    margin: .2rem auto auto auto;
    bottom: 0;
    width: 75%;
    height: 10%;
    background-color: var(--dark-red);
}

/* Modal */

#opacityBackdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: var(--opacity);
}

#modalWrap {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 75vh;
    width: 65vw;
    margin: 12.5vh 17.5vw;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
}

/* Welcome Screen */

#welcomeMenu, #signOutput {
    z-index: 30;
    height: 100%;
    width: 100%;
    padding: 2rem 3rem;
    overflow-y: scroll;
}

#signOutput * {
    z-index: 30;
}

#modalWrap h1, #modalWrap h2, #modalWrap h3, #modalWrap h4, #modalWrap img, #signOutput button, #modalWrap p {
    margin: 1.5rem 0;
    cursor: default;
}

#modalWrap p {
    line-height: 3vh;
}

#modalWrap h1 {
    width: 100%;
    transform: translateY(50%);
    margin: 0;
}

#welcomeMenu h1, #welcomeMenu h4 {
    width: 100%;
}

#welcomeMenu h3, #welcomeMenu img {
    width: 50%;
    float: left;
}

#welcomeMenu h3{
    margin-top: 4rem;
}

#closeModal1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0;
}

#modalWrap button {
    z-index: 35;
    background-color: var(--light-red);
    color: white;
    padding: .75rem 1.25rem;
    /* margin: 1rem 0; */
    border-radius: .25rem;
}

#mm-dd-yyyy {
    height: 2rem;
    transform: translateY(50%);
}

#modalWrap h1 {
    font-family: tbcgothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Sign Output */


#signOutput h1, #signOutput h3, #signOutput p {
    text-align: left;
}

h1#signName {
    width: 100%;
}

p#description1 {
    margin-top: 3rem;
}

#signOutput img {
    width: 20%;
}

#signOutput h2 {
    width: 100%;
    font-size: 1.5rem;
}

.signLinks {
    text-transform: capitalize;
    color: var(--medium-red);
    /* text-decoration: underline;
    cursor: pointer; */
}

button#prevArrow, button#nextArrow {
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 8.75vw;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 50%;
    opacity: .5;
    transform: translateX(-50%);
}

button#nextArrow {
    left: 88vw;
    transform: rotateZ(180deg);
}

#heart, #heartBreak {
    width: 10%;
    height: 2rem;
    float: left;
    margin: 1rem 0;
    fill: var(--light-red);
}

#signOutput h3 {
    width: 90%;
    float: left;
}

/* Footer */

footer {
    position: fixed;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding-left: 5%;
}

#muted svg, #audible svg {
    fill: white;
    opacity: .5;
}

#audible, #muted {
    z-index: 30;
    width: 4rem;
    height: 4rem;
    background: none;
}

#helpButton {
    width: 4rem;
    background: none;
    fill: white;
    position: relative;
    float: left;
    margin-right: 5%;
    opacity: .5;
}

#watermark {
    float: right;
}

#watermark button {
    background-color: var(--opacity);
    color: white;
    padding: 1rem 2rem;
}

/* Hover States */

#signTitles button, #signTitles button div, #signButtons button, #bdayInput, #submit, #watermark, #watermark button, #helpButton, #modalWrap button, #opacityBackdrop:hover, #audible svg, #muted svg {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
}

header h1 {
    cursor: default;
}

#signTitles button:hover .indicator {
    background-color: white;
}

#signButtons button:hover, #helpButton:hover {
    transform: scale(1.1);
}

#helpButton:hover {
    opacity: 1;
}

#signButtons button:hover {
    border: .1rem solid white;
}

#bdayInput:hover, #submit:hover, #modalWrap button:hover {
    background-color: var(--dark-red);
}

#bdayInput:hover {
    cursor: text;
}

#watermark button:hover {
    padding-right: 3rem;
}

button#prevArrow:hover, button#nextArrow:hover {
    opacity: 1;
    background-color: white;
}

#audible svg:hover, #muted svg:hover {
    opacity: 1;
}

/* Media Queries */

#pleaseRotate {
    display: none;
}

@media only screen and (max-width: 68.75em) {
    #watermark {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 50em) {
    #pleaseRotate {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--light-red);
    }

    #pleaseRotate h1 {
        font-family: tbcgothic-std, sans-serif;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        margin: 15% 0 4rem;
    }

    .line {
        margin-bottom: 2rem;
    }

    #pleaseRotate h1:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    #pleaseRotate p {
        text-align: center;
        line-height: 2.5rem;
    }

    #pleaseRotate p:last-child {
        top: 40%;
    }

    #pleaseRotate svg {
        width: 25%;
        fill: white;
        text-align: center;
        margin: 4rem 37.5%;
		-webkit-animation: rotation 15s infinite linear;
    }

    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(359deg);
    }
        to {
            -webkit-transform: rotate(0deg);
    }
}
}

/* Grid Areas */

#rat {
    grid-area: rat;
}

#rat_list {
    grid-area: rat_list;
}

#ox {
    grid-area: ox;
}

#ox_list {
    grid-area: ox_list;
}

#tiger {
    grid-area: tiger;
}

#tiger_list {
    grid-area: tiger_list;
}

#rabbit {
    grid-area: rabbit;
}

#rabbit_list {
    grid-area: rabbit_list;
}

#dragon {
    grid-area: dragon;
}

#dragon_list {
    grid-area: dragon_list;
}

#snake {
    grid-area: snake;
}

#snake_list {
    grid-area: snake_list;
}

#horse {
    grid-area: horse;
}

#horse_list {
    grid-area: horse_list;
}

#goat {
    grid-area: goat;
}

#goat_list {
    grid-area: goat_list;
}

#monkey {
    grid-area: monkey;
}

#monkey_list {
    grid-area: monkey_list;
}

#rooster {
    grid-area: rooster;
}

#rooster_list {
    grid-area: rooster_list;
}

#dog {
    grid-area: dog;
}

#dog_list {
    grid-area: dog_list;
}

#pig {
    grid-area: pig;
}

#pig_list {
    grid-area: pig_list;
}

/* Modal IMG positions */

#modalWrap .image {
    position: absolute;
    z-index: 20;
    height: 50rem;
    opacity: 20%;
}

#modalImg_Ox, #modalImg_Snake, #modalImg_Horse {
    width: 30rem;
    transform: scaleX(-1) translateX(-5rem);
}

#modalImg_Rabbit, #modalImg_Dragon, #modalImg_Goat, #modalImg_Rat {
    width: 20rem;
    transform: translateX(5rem) translateY(2rem);
}

#modalImg_Rooster, #modalImg_Dog {
    transform: scaleX(-1) translateX(3rem) translateY(-3rem);
}

#modalImg_Snake {
    width: 30rem;
    transform: scaleX(-1) translateX(-4rem) translateY(2rem);
}

#modalImg_Horse {
    transform: scaleX(-1) translateX(-5rem) translateY(2rem);
}

#modalImg_Monkey {
    width: 30rem;
    transform: translateX(3rem) translateY(0rem);
}

#modalImg_Tiger {
    width: 30rem;
    transform: translateX(4rem) translateY(5rem);
}

#modalImg_Rooster {
    width: 30rem;
    transform: scaleX(-1) translateX(-4rem) translateY(0rem);
}

#modalImg_Dog {
    width: 30rem;
    transform: scaleX(-1) translateX(-4rem) translateY(0rem);
}

#modalImg_Pig {
    width: 30rem;
    transform: scaleX(-1) translateX(-4rem) translateY(4rem);
}

#welcomeGraphic {
    height: 4rem;
    width: 4rem;
    opacity: 100%;
}