* {
    font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

:root {
    --light-red: #C13340;
    --medium-red: #A92D38;
    --dark-red: #70272b;

    --opacity: rgba(0, 0, 0, 0.5);
}

html {
    background-color: var(--light-red);
    color: white;
}

header h1 {
    font-family: tbcgothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    padding: 0 5%;
}

form {
    margin-bottom: 4rem;
}

form input {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    margin: 0 .5rem;
    text-align: center;
    background-color: var(--medium-red);
    color: white;
}

#bdayinput {
    width: 10.5rem;
    text-transform: uppercase;
    padding-left: .5rem;
}

form h2 {
    display: inline-block;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: var(--medium-red);
}

/* Header */

header {
    height: 8rem;
    text-align: center;
    font-size: 2rem;
}

header button {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    background: none;
    margin: 3rem;
    fill: white;
}

#line {
    width: 60%;
    height: .2rem;
    background-color: white;
    margin: auto;
    transform: translateY(-1.5rem);
}

form {
    width: 100%;
    text-align: center;
}

#signButtons {
    width: 100%;
    height: 25rem;
    margin: auto;
    display: grid;
    grid-template-areas:
        "rat . tiger . dragon . horse . monkey . dog ."
        ". ox . rabbit . snake . goat . rooster . pig";
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(2, 25%);
}

#signButtons button {
    width: 100%;
    padding: auto 1rem;
    background-color: var(--medium-red);
    border: .1rem solid var(--medium-red);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

#signButtons button svg {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    fill: white;
}

#signTitles {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-areas:
    "rat_list ox_list tiger_list rabbit_list dragon_list snake_list horse_list goat_list monkey_list rooster_list dog_list pig_list";
    transform: translateY(-5rem);
}

#signTitles button {
    color: white;
    background: none;
    height: 3rem;
}

#signTitles button div {
    position: relative;
    margin: auto;
    margin-top: .2rem;
    bottom: 0;
    width: 75%;
    height: 10%;
    background-color: var(--dark-red);
}

#rat {
    grid-area: rat;
}

#rat_list {
    grid-area: rat_list;
}

#ox {
    grid-area: ox;
}

#ox_list {
    grid-area: ox_list;
}

#tiger {
    grid-area: tiger;
}

#tiger_list {
    grid-area: tiger_list;
}

#rabbit {
    grid-area: rabbit;
}

#rabbit_list {
    grid-area: rabbit_list;
}

#dragon {
    grid-area: dragon;
}

#dragon_list {
    grid-area: dragon_list;
}

#snake {
    grid-area: snake;
}

#snake_list {
    grid-area: snake_list;
}

#horse {
    grid-area: horse;
}

#horse_list {
    grid-area: horse_list;
}

#goat {
    grid-area: goat;
}

#goat_list {
    grid-area: goat_list;
}

#monkey {
    grid-area: monkey;
}

#monkey_list {
    grid-area: monkey_list;
}

#rooster {
    grid-area: rooster;
}

#rooster_list {
    grid-area: rooster_list;
}

#dog {
    grid-area: dog;
}

#dog_list {
    grid-area: dog_list;
}

#pig {
    grid-area: pig;
}

#pig_list {
    grid-area: pig_list;
}

#watermark {
    position: fixed;
    right: 0;
    bottom: 5%;
}

#watermark button {
    background-color: var(--opacity);
    color: white;
    padding: 1rem 2rem;
}

/* Modal */

#opacityBackdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: var(--opacity);
}

#modalWrap {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 70vh;
    width: 60vw;
    margin: 15vh 20vw;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 1rem;
}

/* Welcome Screen */

#welcomeMenu, #signOutput {
    height: 100%;
    width: 100%;
    padding: 2rem 3rem;
    overflow-y: scroll;
}

#modalWrap h1, #modalWrap h2, #modalWrap h3, #modalWrap h4, #modalWrap img, #modalWrap button, #modalWrap p {
    margin: 1.5rem 0;
    cursor: default;
}

#modalWrap p {
    line-height: 3vh;
}

#modalWrap h1 {
    width: 100%;
    transform: translateY(50%);
    margin: 0;
}

#welcomeMenu h1, #welcomeMenu h4 {
    width: 100%;
}

#welcomeMenu h3, #welcomeMenu img {
    width: 50%;
    float: left;
}

.buttonWrap {
    width: 100%;
    margin: 2.5rem auto 0;
}

#modalWrap button {
    background-color: var(--light-red);
    color: white;
    padding: .75rem 1.25rem;
    margin: 0;
    border-radius: .25rem;
}

#mm-dd-yyyy {
    height: 2rem;
    transform: translateY(50%);
}

#signOutput h1, #signOutput h2 {
    font-family: tbcgothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Sign Output */

#signOutput h1, #signOutput h3, #signOutput p {
    text-align: left;
}

#signOutput h1 {
    width: 80%;
    float: left;
}

#signOutput img {
    width: 20%;
    float: left;
}

#signOutput h2 {
    width: 100%;
    font-size: 1.5rem;
}

#signOutput img {
    height: 4rem;
}

#welcomeGraphic {
    height: 4rem;
}

.signLinks {
    text-transform: capitalize;
    text-decoration: underline;
    color: var(--medium-red);
    cursor: pointer;
}

button#prevArrow, button#nextArrow {
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 10vw;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 50%;
    opacity: .5;
    transform: translateX(-50%);
}

button#nextArrow {
    left: 87.5vw;
    transform: rotateZ(180deg);
}

#heart, #heartBreak {
    width: 10%;
    height: 2rem;
    float: left;
    margin: 1rem 0;
    fill: var(--light-red);
}

#signOutput h3 {
    width: 90%;
    float: left;
}

#muted, #audible {
    position: fixed;
    z-index: 40;
    bottom: 5vh;
    left: 5vw;
    width: 3rem;
    height: 3rem;
    background: none;
}

#muted svg, #audible svg {
    fill: white;
    opacity: .5;
}

#audible, #muted {
    position: fixed;
    z-index: 40;
    bottom: 5vh;
    left: 5vw;
    width: 3rem;
    height: 3rem;
}

/* Hover States */

#signTitles button, #signTitles button div, #signButtons button, #bdayInput, #submit, #watermark button, header button, #modalWrap button, #opacityBackdrop:hover, #audible svg, #muted svg {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
}

header h1 {
    cursor: default;
}

#signTitles button:hover .indicator {
    background-color: white;
}

#signButtons button:hover, header button:hover {
    transform: scale(1.1);
}

#signButtons button:hover {
    border: .1rem solid white;
}

#bdayInput:hover, #submit:hover, #modalWrap button:hover {
    background-color: var(--dark-red);
}

#bdayInput:hover {
    cursor: text;
}

#watermark button:hover {
    padding-right: 3rem;
}

button#prevArrow:hover, button#nextArrow:hover {
    opacity: 1;
    background-color: white;
}

#audible svg:hover, #muted svg:hover {
    opacity: 1;
}