* {
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #E02020;
    background-repeat: repeat;
    background-size: 472px 472px;
	background-image: url("../graphics/pattern.svg");
}
body {
    /* background-color: #E02020; */
    color: white;
    font-size: 1.4rem;
}
header {
    margin-left: 25%;
    font-size: 2rem;
    width: -webkit-fill-available;
    height: fit-content;
    top: -1%;
    text-decoration: overline underline;
    text-align: -webkit-center;
}
li {
    width: 50%;
    height: 100%;
}
li a {
    padding: 32px;
}
ul.navbar li {
    float: left;
}
li#how_to a {
    position: absolute;
    right: 0;
}
a {
    text-decoration: none;
    display: block;
    width: fit-content;
    height: 100%;
}
div.spacer {
    height: 100px;
}

/* Rows */

.row {
    width: 25%;
    display: inline-flex;
    text-transform: uppercase;
    float: left;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    max-height: 100%;
    position: fixed;
    margin-top: 6.25%;
}
.row li {
    margin-bottom: 25px;
    height: 75px;
}
.row img {
    width: 50px;
}
.row1 {
    width: 25%;
    text-align: -webkit-center;
    display: block;
}
.row1 li {
    height: 75px;
    padding-top: 20%;
}
.row1 h2 {
    font-size: 2rem;
}
.row2 {
    display: block;
    width: 75%;
}
.row2 img {
    float: left;
    margin: 12.5px;
}
.row2 ul {
    width: 100%;
}
.row2 h2 {
    position: relative;
    height: 75px;
    padding-top: 28px;
    padding-left: 10%;
    text-align: center;
    float: left;
}
li.background_0 {
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
}
li.background_1 {
    background-color: rgba(255, 72, 72, 75%);
    width: 100%;
}
.selection_indicator_0 {
    position: relative;
    background-color: #FF4848;
    float: left;
    width: 10px;
    height: 100%;
}
.selection_indicator_1 {
    position: relative;
    background-color: #fff;
    float: left;
    width: 10px;
    height: 100%;
}

/* Dots */

.dot {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    z-index: -10;
}
#dot_1 {
    height: 250px;
    width: 250px;
    left: 360px;
    top: -160px;
}
#dot_2 {
    height: 600px;
    width: 600px;
    left: -150px;
    bottom: -400px;
}
#dot_3 {
    height: 300px;
    width: 300px;
    right: -165px;
    top: 200px;
}
#wheel_bg {
    grid-area: center;
    background-color: #00000080;
    width: 40rem;
    height: 40rem;
    align-self: center;
    top: -1rem;
    border-radius: 50%;
    z-index: -10;
}

/* Watermark */

.watermark {
    font-size: 1.2rem;
    position: fixed;
    display: block;
    right: 0;
    bottom: 50px;
    width: 300px;
    height: 75px;
    background-color: rgba(0, 0, 0, 50%);
    padding: 15px;
}
.watermark a {
    position: fixed;
    z-index: 10;
    display: block;
    right: 0;
    bottom: 50px;
    width: 300px;
    height: 75px;
    color: white;
}

/* Sign Container */

.sign_container {
    height: 40.25rem;
    width: 40.25rem;
    display: grid;
    grid-template-areas:
        ". pig rat ox ."
        "dog . . . tiger"
        "rooster . center . rabbit"
        "monkey . . . dragon"
        ". goat horse snake .";
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    position: relative;
    margin-left: 39%;
}
.sign {
    display: block;
    width: 6.25rem;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}
.sign_opacity {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 50%);
    display: block;
    position: absolute;
    z-index: 0;
}
button {
    height: fit-content;
    width: fit-content;
}
button.sign img {
    display: block;
    z-index: 10;
    position: absolute;
}
#rat {
    grid-area: rat;
}
#ox {
    grid-area: ox;
    top: 2.3625rem;
}
#tiger {
    grid-area: tiger;
    right: 2.3625rem;
}
#rabbit {
    grid-area: rabbit;
}
#dragon {
    grid-area: dragon;
    right: 2.3625rem;
}
#snake {
    grid-area: snake;
    bottom: 2.3625rem;
}
#horse {
    grid-area: horse;
}
#goat {
    grid-area: goat;
    bottom: 2.3625rem;
}
#monkey {
    grid-area: monkey;
    left: 2.3625rem;
}
#rooster {
    grid-area: rooster;
}
#dog {
    grid-area: dog;
    left: 2.3625rem;
}
#pig {
    grid-area: pig;
    top: 2.3625rem;
}

/* Input */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
}

  ::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
}
#year_input {
    grid-area: center;
    background-color: #ffffff80;
    position: relative;
    align-self: center;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
}
#submit {
    grid-area: center;
    background-color: #ffffff80;
    position: relative;
    align-self: center;
    width: 100%;
    padding: .5rem;
    top: 45%;
    border-radius: .5rem;
}
input[type="submit"] {
    cursor: pointer;
}
#input_label {
    grid-area: center;
    width: max-content;
}